// Define variables for your color scheme

$black: #000000;
$very-dark-red: #3D0000;
$dark-red: #950101;
$red: #FD1015;

// For example:
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-pastel-pink: #F0DFDF;
$white: #FFFFFF;
$light-gray: #F4F4F4;
