// Define variables for your color scheme

// new
$cream: #F6F2E6; // background
$blue: #829B9D;
$soft-orange: #EC9259;
$brick-red: #B64F44;
$black: #000000;
$dark-grey: #333333; // for text with link
$warm-light-grey: #C6C1B5; // button background
$peach: #EEAB91;

// old
$very-dark-red: #3D0000;
$dark-red: #950101;
$danger-red: #dc3545;
$red: #FD1015;

// example:
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-pastel-pink: #F0DFDF;
$white: #FFFFFF;
$light-gray: #F4F4F4;
