// Import Google fonts
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

// Define fonts for body and headers
$body-font: "Comfortaa", "Helvetica", "sans-serif";
$headers-font: "IBM Plex Mono", "Helvetica", "sans-serif";

// Base font usage
body {
  font-family: $body-font;
}


h2, h3, h4, h5, h6 {
  font-family: $body-font;
}

h1 {

  font-family: $headers-font;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
