.gig-show {
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    color: white;
  }
}

.gig-header {
  height: 25vh;
  align-items: end;
  display: flex;
  gap: 40px;
  justify-content: space-around;
  padding: 0 12px 12px;
}

.gig-header-text {
  flex-grow: 1;
}

.gig-img {
  max-width: 120px;
  margin-top: 8px;
  border-radius: 16%;
}


p {
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.body-header {
  color: white;
}


// ----- venue details -----
.text-custom {
  color: rgb(143, 142, 142);
  font-weight: lighter;
}

.venue-details {
  // border-top: 1px solid $dark-red;
  padding-top: 12px;

}

// .venue-details td {
//   font-size: 12px;
//   font-weight: normal;
//   font-family: Comfortaa;
// }

// .venue-details .label {
//   font-weight: bold;
// }

// .venue-details td.label {
//   vertical-align: top;
//   font-weight: bold;
//   padding-right: 10px;
//   color: $dark-red;
// }

// .venue-details td div {
//   margin-bottom: 12px;
// }

.band-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

h4, h5 {
  color: white;
}
