// Import page-specific CSS files here.
@import "home";
@import "venues_show";
@import "gigs_show";
@import "profile";
@import "users_index";
@import "venues_index";
@import "gigs_index";

.bg-red {
  height: 25vh;
  z-index: -1;
  position: absolute;
  background: $very-dark-red;
  top: 0;
  left: 0;
  width: 100%;
}
