.venue-show {
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    color: white;
  }
}

.venue-header {
  height: 25vh;
  align-items: end;
  display: flex;
  gap: 40px;
  justify-content: space-around;
  padding: 0 12px 12px;
  // border-bottom: 1px solid $dark-red;
}

.venue-header-text {
  flex-grow: 1;
}

.venue-img {
  width: 120px;
  margin-top: 8px;
  border-radius: 16%;
}


p {
  color: white;
  font-size: 12px;
  font-weight: bold;
}


.body-header {
  color: white;
}

// .venue-body {
//   border-top: 1px solid $dark-red;
// }


// ----- venue details -----
.text-custom {
  color: rgb(143, 142, 142);
  font-weight: lighter;
}

.venue-details {
  padding-top: 12px;
}

.venue-details td {
  font-size: 12px;
  font-weight: normal;
  font-family: Comfortaa;
}

.venue-details .label {
  font-weight: bold;
}

.venue-details td.label {
  vertical-align: top;
  font-weight: bold;
  padding-right: 10px;
  color: $dark-red;
}

.venue-details td div {
  margin-bottom: 12px;
}


//----- upcoming show ------
.gig-table {
  width: 100%;
  color: white;
  font-size: 1.1rem; /* テーブル全体の文字サイズ */
  border-spacing: 0 10px; /* 行ごとの余白 */
}

.label {
  width: 33px;
  text-align: center;
  vertical-align: top;
  text-align: left;
  padding-right: 4px;
}

.icon {
  font-size: 20px;
  margin-top: 4px;
  color: #FFFFFF;
  vertical-align: top;
}

.gig-text {
  font-size: 0.9rem;
  vertical-align: middle;
}

.gig-table tr {
  padding-bottom: 12px;   /* 行の下にスペース */
}

.gig-table td {
  padding-bottom: 8px;    /* 各セルの下にも余白 */
  padding-top: 8px;
}
