.venue-show {
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    color: white;
  }
}

.venue-header {
  height: 25vh;
  align-items: end;
  display: flex;
  gap: 40px;
  justify-content: space-around;
  padding: 0 12px 12px;
  // border-bottom: 1px solid $dark-red;
}

.venue-header-text {
  flex-grow: 1;
}

.venue-img {
  width: 120px;
  margin-top: 8px;
  border-radius: 16%;
}


p {
  color: white;
  font-size: 12px;
  font-weight: bold;
}


li {
  list-style: none;
}

.body-header {
  color: white;
}

.venue-body {
  // border-top: 1px solid $dark-red;
}

.venue-details {
  padding-top: 12px;
}

strong {
  font-weight: bold;
  color: $dark-red;
}

// venue details
.venue-details td {
  font-size: 12px;
  font-weight: normal;
  font-family: sans-serif;
}

.venue-details .label {
  font-weight: bold;
}

.venue-details td.label {
  vertical-align: top;
  font-weight: bold;
  padding-right: 10px;
  color: $dark-red;
}

.venue-details td div {
  margin-bottom: 12px;
}
