<%= render 'shared/rectangle_box', title: "copied another page for testing"%>
<div class="gig-show container m-2">
  <p> HELLOOOOOOOO</p>
  <h1 class="text-primary"><%= @user.username %>'s Profile</h1>
</div>
