<div class="card">
  <div clas="card-top">
  </div>
  <div class="card-bottom">
    <div >

      <h2>1975</h2>
      <p>@</p>
      <h2>Club Hikari</h2>
      <%# TODO: update distance %>
      <p>[distance] km away</p>
    </div>
  </div>
</div>
