<%# !!change artist name, venue, distance late!! %>
<div class="concert-card my-3">
  <div class="concert-header">
    <span class="badge-date">TODAY</span>
  </div>
  <div class="concert-body">
    <h2 class="artist-name">Pale Waves</h2>
    <h5 class="venue text-lg">@ Liquidroom</h5>
    <div class="distance">18 km away</div>
  </div>
</div>
