<%# app/views/shared/_flash.html.erb %>
<% if notice %>
  <div class="alert main-alert-card flash-notice alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" style="color: $soft-orange" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert main-alert-card flash-alert alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" style="color: $soft-orange" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
