<%# app/views/shared/_location.html.erb %>
<div id="search-container" class="container py-4 position-relative">
  <%= simple_form_for :search, url: gigs_path, method: :get, html: { class: "row", id: "location-form-container" } do |f| %>
    <%= f.input :Select_a_date,
            as: :string,
            label_html: { class: "form-label-black" },
            input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :genre,
              label: "Choose a few genres",
              # ADDED label_class for "Choose a few genres"
              label_html: { class: "form-label-black" },
              collection: ["All"] + Band.distinct.pluck(:genre),
              input_html: {
                multiple: true,
                data: {
                  controller: "tom-select",
                },
                class: "form-input-black" # ADDED class for select input
              } %>
    <div class="col-auto">
      <button type="submit" class="btn d-flex discover-button-rounded"> <%# ADDED new class here for button styling %>
        <%# <i class="fa-solid fa-record-vinyl text-white"></i> %>
        <p class="discover-text-black" id="find">Discover</p>
        <%# ADDED new class here for p tag text %>
      </button>
    </div>
  <% end %>
</div>
