<div class="container py-4">
  <%= simple_form_for :search, url: venues_path, method: :get, html: { class: "row" } do |f| %>
    <%= f.input :address,
              label: "Near",
              input_html: { value: params.dig(:search, :address) || "Shinjuku" },
              wrapper_html: { class: "col-sm-6 text-white border-light" } %>
    <%= f.input :genre,
            label: "What type of music?",
            collection: ["All"] + (@available_genres || Band.distinct.pluck(:genre)),
            selected: params[:genre],
            include_blank: false,
            input_html: {
              multiple: true,
              class: "tom-select-tags",
              name: "search[genre][]",
              placeholder: "Select or add genres"
             },
             include_blank: false,
            wrapper_html: { class: "col-sm-6 text-white border-light" } %>
    <div class="col-auto">
      <button type="submit" class="btn d-flex">
        <%# <i class="fa-solid fa-record-vinyl text-white"></i> %>
        <p class="text-white discover-button" id="find">Find</p>
      </button>
    </div>
  <% end %>
  <button class="find-location">
    Use my location
  </button>
</div>
