<div id="search-container" class="container py-4 position-relative">
  <%= simple_form_for :search, url: gigs_path, method: :get, html: { class: "row", id: "location-form-container", data: { controller: "gig-count"} } do |f| %>
    <%= f.input :select_a_date,
            as: :string,
            label: "When are you free?",
            label_html: { class: "form-label-black" },
            input_html: {
              value: params.dig(:search, :select_a_date),
              data: { controller: "datepicker", action: "change->gig-count#getGigCount", gig_count_target: "dateInput" }
              } %>
    <label class="form-label text-white select required form-label-black" for="search_genre-ts-control" id="search_genre-ts-label">
      Choose up to 3 genres <abbr title="required">*</abbr>
    </label>
    <%= f.input :genre,
              as: :select,
              label: false,
              label_html: { class: "form-label-black" },
              collection: Band.distinct.pluck(:genre),
              input_html: {
                multiple: true,
                data: {
                  controller: "tom-select",
                  tom_select_options_value: Band.distinct.pluck(:genre).index_with { |g| g }.to_json,
                  action: "change->gig-count#getGigCount",
                  gig_count_target: "genreSelect"
                },
                class: "form-input-black" # ADDED class for select input
              } %>
    <turbo-frame id="results">
      <div class="col-auto">
        <p data-gig-count-target="totalGigs">Shows found: <%= @count %> </p>
        <button type="submit" class="btn d-flex discover-button-rounded"> <%# ADDED new class here for button styling %>
          <%# <i class="fa-solid fa-record-vinyl text-white"></i> %>
          <p class="discover-text-black" id="find">Search</p>
          <%# ADDED new class here for p tag text %>
        </button>
      </div>
    </turbo-frame>
  <% end %>
</div>
