<%# dark red tall rectangle %>
<div
class="rectangle-left"
style="
background-color: #950101;
width: 70px;
height: 500px;
position: absolute;
left: 0;
border-bottom-right-radius: 0.7rem;
">
<%# text inside rectangle %>
<h3
    class="mt-3 ms-2"
    style="
      writing-mode: vertical-rl;
      color: #F0DFDF;
    "
  >
    <%= title || "default text" %>
  </h3>
</div>
