<div class="tokyo-navbar container">
  <div class="navbar-flex">
    <i class="fa-solid fa-heart navbar-item"></i>
    <i class="fa-solid fa-music navbar-item"></i>
    <i class="fa-solid fa-record-vinyl navbar-item" id="logo"></i>
    <i class="fa-solid fa-comment navbar-item"></i>
    <i class="fa-solid fa-calendar-week navbar-item"></i>
  </div>
</div>
