<div class="offcanvas offcanvas-bottom bg-dark" tabindex="-1" id="venueDetailsSheet" data-bs-scroll="true" data-bs-backdrop="false">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="venueDetailsLabel">Venue details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body small">
    <div id="venueDetailsContent"></div>
  </div>
</div>
