<div class="container my-4 px-3 venue-container">

  <!-- Search row -->
  <div class="venue-index-header d-flex justify-content-between align-items-center mb-3">
    <div class="venue-index-header-text">
    </div>
    <div class="search-form-wrapper">
      <%= form_with url: venues_path, method: :get, local: true, class: "search-bar d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control search-input", placeholder: "Search..." %>
        <%= button_tag type: "submit", class: "search-button" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- Cards -->
  <div class="d-grid gap-3 mx-3">
    <% @venues.each do |venue| %>
      <%= render "venue_card", venue: venue %>
    <% end %>
    <% if @venues.empty? %>
      <p class="text-center">No venues found.</p>
    <% end %>
  </div>
</div>
