.genre-carousel {
  display: flex;
  height: 20px;
  overflow-x: auto;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  button {
    flex-shrink: 0;
    scroll-snap-align: start;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #e5e7eb;
    transition: background-color 0.2s;
    white-space: nowrap;

    &:hover {
      background-color: #d1d5db;
    }
  }

}

.genre-carousel::-webkit-scrollbar {
  display: none;
}
