.index-btn {
  z-index: 101;
  background: $soft-orange;
  border: 1px solid $soft-orange;
  box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.149);
  border-radius: 9px;
}

.gig-index-header {
  background-color: $cream;
  border-radius: 9px;
  padding: 16px;
  margin-bottom: 16px;
}


.gig-card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 8px;
  &:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  }
}
