/* app/assets/stylesheets/tokyo-navbar.scss */

.tokyo-navbar {
  height: 70px;
  width: 100%;
  background-color: #F6F2E6; /* Cream color from image */
  // opacity: 0.95;
  border-top: 1px solid #D9D2C8; /* Slightly darker cream */
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  border-radius: 0;
}

.navbar-flex {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.navbar-item {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
  color: #829B9D; /* Dark grey/brown from image */
  text-decoration: none;
  margin-bottom: 4px;

  p {
    color: #829B9D;
  }
}

#logo {
  font-size: 40px;
  color: #829B9D; /* Dark red/brown from Tokyo Tower */
}

.style-image {
  background-color: blue;
  color: red;
}

.connect-icon {
  margin-bottom: .1rem;
}
