<div class="offcanvas offcanvas-bottom custom-offcanvas" tabindex="-1" id="gigDetailsSheet" data-bs-scroll="true" data-bs-backdrop="false">
  <div class="offcanvas-header">
    <p class="offcanvas-title text-dark" id="gigDetailsLabel">Gig details</p>
    <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <div id="gigDetailsContent"></div>
  </div>
</div>
